<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>phpDox - Faker\Provider\mn_MN\Person</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li>
          <div class="logo"><span>/**</span>phpDox</div>
        </li>
        <li class="separator">
          <a href="../index.xhtml">Overview</a>
        </li>
        <li class="separator">
          <a href="../namespaces.xhtml">Namespaces</a>
        </li>
        <li>
          <a href="../interfaces.xhtml">Interfaces</a>
        </li>
        <li>
          <a href="../classes.xhtml">Classes</a>
        </li>
        <li>
          <a href="../traits.xhtml">Traits</a>
        </li>
        <li class="separator">
          <a href="../source/index.xhtml">Source</a>
        </li>
      </ul>
    </nav>
    <div id="mainstage">
      <div class="box">
        <ul class="breadcrumb">
          <li>
            <a href="../index.xhtml">Overview</a>
          </li>
          <li class="separator">
            <a href="../classes.xhtml">Classes</a>
          </li>
          <li class="separator">
            <a href="../classes.xhtml#Faker_Provider_mn_MN">Faker\Provider\mn_MN</a>
          </li>
          <li class="separator">Person</li>
        </ul>
      </div>
      <nav class="box">
        <ul>
          <li>
            <a href="#introduction">Introduction</a>
          </li>
          <li>
            <a href="#synopsis">Synopsis</a>
          </li>
          <li>
            <a href="#hierarchy">Hierarchy</a>
          </li>
          <li>
            <a href="#tasks">Tasks</a>
          </li>
          <li>
            <a href="#constants">Constants</a>
          </li>
          <li>
            <a href="#members">Members</a>
          </li>
          <li>
            <a href="#methods">Methods</a>
          </li>
          <li>
            <a href="../source/vendor/fzaninotto/faker/src/Faker/Provider/mn_MN/Person.php.xhtml#line5">Source</a>
          </li>
        </ul>
      </nav>
      <section>
        <h1 id="introduction"><small>Faker\Provider\mn_MN\</small>Person</h1>
        <h4/>
        <p/>
        <h2 id="synopsis">Synopsis</h2>
        <div class="synopsis">class Person
                extends <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person.xhtml">Person</a>
            {<br/><ul class="none"><li>// Inherited constants from <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person.xhtml">Person</a></li><li>const <a href="#GENDER_MALE">GENDER_MALE</a> = 'male';</li><li>const <a href="#GENDER_FEMALE">GENDER_FEMALE</a> = 'female';</li></ul><ul class="none"><li>// members</li><li>protected static array <a href="#members">$firstNameMale</a> =
                        ;
                    </li><li>protected static array <a href="#members">$firstNameFemale</a> =
                        ;
                    </li><li>protected static array <a href="#members">$namePrefix</a> =
                        ;
                    </li><li>protected static array <a href="#members">$alphabet</a> =
                        ;
                    </li><li>protected static array <a href="#members">$maleNameFormats</a> =
                        ;
                    </li><li>protected static array <a href="#members">$femaleNameFormats</a> =
                        ;
                    </li><li>protected static string <a href="#members">$idNumberFormat</a> =
                        "{{alphabet}}{{alphabet}}########";
                    </li></ul><ul class="none"><li>// Inherited members from <span title="Faker\Provider\Person">Person</span></li><li>protected static array <a href="#members">$titleFormat</a>;
                        </li><li>protected static array <a href="#members">$firstNameFormat</a>;
                        </li><li>protected static array <a href="#members">$maleNameFormats</a>;
                        </li><li>protected static array <a href="#members">$femaleNameFormats</a>;
                        </li><li>protected static array <a href="#members">$firstNameMale</a>;
                        </li><li>protected static array <a href="#members">$firstNameFemale</a>;
                        </li><li>protected static array <a href="#members">$lastName</a>;
                        </li><li>protected static array <a href="#members">$titleMale</a>;
                        </li><li>protected static array <a href="#members">$titleFemale</a>;
                        </li></ul><ul class="none"><li>// Inherited members from <span title="Faker\Provider\Base">Base</span></li><li>protected <span title="\Faker\Generator">Generator</span> <a href="#members">$generator</a>;
                        </li><li>protected <span title="\Faker\UniqueGenerator">UniqueGenerator</span> <a href="#members">$unique</a>;
                        </li></ul><ul class="none"><li>// methods</li><li>public void <a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/idNumber.xhtml">idNumber</a>()
                    </li><li>public string <a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/alphabet.xhtml">alphabet</a>()
                    </li><li>public string <a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/namePrefix.xhtml">namePrefix</a>()
                    </li></ul><ul class="none"><li>// Inherited methods from <span title="Faker\Provider\Person">Person</span></li><li>public string <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/name.xhtml">name</a>()
                        </li><li>public string <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstName.xhtml">firstName</a>()
                        </li><li>public static void <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstNameMale.xhtml">firstNameMale</a>()
                        </li><li>public static void <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstNameFemale.xhtml">firstNameFemale</a>()
                        </li><li>public string <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/lastName.xhtml">lastName</a>()
                        </li><li>public string <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/title.xhtml">title</a>()
                        </li><li>public static void <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/titleMale.xhtml">titleMale</a>()
                        </li><li>public static void <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/titleFemale.xhtml">titleFemale</a>()
                        </li></ul><ul class="none"><li>// Inherited methods from <span title="Faker\Provider\Base">Base</span></li><li>public void <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/__construct.xhtml">__construct</a>()
                        </li><li>public static integer <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigit.xhtml">randomDigit</a>()
                        </li><li>public static integer <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigitNotNull.xhtml">randomDigitNotNull</a>()
                        </li><li>public static int <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigitNot.xhtml">randomDigitNot</a>()
                        </li><li>public static integer <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomNumber.xhtml">randomNumber</a>()
                        </li><li>public static float <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomFloat.xhtml">randomFloat</a>()
                        </li><li>public static integer <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/numberBetween.xhtml">numberBetween</a>()
                        </li><li>public static mixed <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/passthrough.xhtml">passthrough</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomLetter.xhtml">randomLetter</a>()
                        </li><li>public static void <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomAscii.xhtml">randomAscii</a>()
                        </li><li>public static array <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomElements.xhtml">randomElements</a>()
                        </li><li>public static mixed <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomElement.xhtml">randomElement</a>()
                        </li><li>public static int|string|null <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomKey.xhtml">randomKey</a>()
                        </li><li>public static array|string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffle.xhtml">shuffle</a>()
                        </li><li>public static array <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffleArray.xhtml">shuffleArray</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffleString.xhtml">shuffleString</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/numerify.xhtml">numerify</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/lexify.xhtml">lexify</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/bothify.xhtml">bothify</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/asciify.xhtml">asciify</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/regexify.xhtml">regexify</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/toLower.xhtml">toLower</a>()
                        </li><li>public static string <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/toUpper.xhtml">toUpper</a>()
                        </li><li>public mixed|null <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/optional.xhtml">optional</a>()
                        </li><li>public UniqueGenerator <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/unique.xhtml">unique</a>()
                        </li><li>public ValidGenerator <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/valid.xhtml">valid</a>()
                        </li></ul>

            }<br/></div>
        <h2 id="hierarchy">Hierarchy</h2>
        <div class="styled">
          <h4>Extends</h4>
          <ul>
            <li>
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person.xhtml">Faker\Provider\Person</a>
            </li>
          </ul>
        </div>
        <h2 id="tasks">Tasks</h2>
        <table class="styled">
          <thead>
            <tr>
              <th style="width:3em;">Line</th>
              <th>Task</th>
            </tr>
          </thead>
          <tr>
            <td class="nummeric">548</td>
            <td>remove in v2</td>
          </tr>
        </table>
        <h2 id="constants">Constants</h2>
        <table class="styled">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="GENDER_MALE">GENDER_MALE</td>
              <td>'male'</td>
            </tr>
            <tr>
              <td id="GENDER_FEMALE">GENDER_FEMALE</td>
              <td>'female'</td>
            </tr>
          </tbody>
        </table>
        <h2 id="members">Members</h2>
        <div class="styled members">
          <h4>protected</h4>
          <ul class="members">
            <li id="alphabet">
              <strong>$alphabet</strong>
            </li>
            <li id="femaleNameFormats">
              <strong>$femaleNameFormats</strong>
            </li>
            <li id="femaleNameFormats">
              <strong>$femaleNameFormats</strong>
            </li>
            <li id="firstNameFemale">
              <strong>$firstNameFemale</strong>
            </li>
            <li id="firstNameFemale">
              <strong>$firstNameFemale</strong>
            </li>
            <li id="firstNameFormat">
              <strong>$firstNameFormat</strong>
            </li>
            <li id="firstNameMale">
              <strong>$firstNameMale</strong>
            </li>
            <li id="firstNameMale">
              <strong>$firstNameMale</strong>
            </li>
            <li id="generator"><strong>$generator</strong>
                —
                <a title="\Faker\Generator" href="../classes/_Faker_Generator.xhtml">\Faker\Generator</a></li>
            <li id="idNumberFormat">
              <strong>$idNumberFormat</strong>
            </li>
            <li id="lastName">
              <strong>$lastName</strong>
            </li>
            <li id="maleNameFormats">
              <strong>$maleNameFormats</strong>
            </li>
            <li id="maleNameFormats">
              <strong>$maleNameFormats</strong>
            </li>
            <li id="namePrefix">
              <strong>$namePrefix</strong>
            </li>
            <li id="titleFemale">
              <strong>$titleFemale</strong>
            </li>
            <li id="titleFormat">
              <strong>$titleFormat</strong>
            </li>
            <li id="titleMale">
              <strong>$titleMale</strong>
            </li>
            <li id="unique"><strong>$unique</strong>
                —
                <a title="\Faker\UniqueGenerator" href="../classes/_Faker_UniqueGenerator.xhtml">\Faker\UniqueGenerator</a></li>
          </ul>
        </div>
        <h2 id="methods">Methods</h2>
        <div class="styled">
          <h4>public</h4>
          <ul>
            <li id="alphabet">
              <a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/alphabet.xhtml">alphabet()</a>
            </li>
            <li id="idNumber"><a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/idNumber.xhtml">idNumber()</a>
                — Generate an identification number.</li>
            <li id="namePrefix">
              <a title="Faker\Provider\mn_MN\Person" href="../classes/Faker_Provider_mn_MN_Person/namePrefix.xhtml">namePrefix()</a>
            </li>
          </ul>
          <h3>Inherited from <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person.xhtml">Faker\Provider\Person</a></h3>
          <h4>public</h4>
          <ul>
            <li id="firstName">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstName.xhtml">firstName()</a>
            </li>
            <li id="firstNameFemale">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstNameFemale.xhtml">firstNameFemale()</a>
            </li>
            <li id="firstNameMale">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/firstNameMale.xhtml">firstNameMale()</a>
            </li>
            <li id="lastName">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/lastName.xhtml">lastName()</a>
            </li>
            <li id="name">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/name.xhtml">name()</a>
            </li>
            <li id="title">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/title.xhtml">title()</a>
            </li>
            <li id="titleFemale">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/titleFemale.xhtml">titleFemale()</a>
            </li>
            <li id="titleMale">
              <a title="Faker\Provider\Person" href="../classes/Faker_Provider_Person/titleMale.xhtml">titleMale()</a>
            </li>
          </ul>
          <h3>Inherited from <a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base.xhtml">Faker\Provider\Base</a></h3>
          <h4>public</h4>
          <ul>
            <li id="asciify"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/asciify.xhtml">asciify()</a>
                — Replaces * signs with random numbers and letters and special characters</li>
            <li id="bothify"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/bothify.xhtml">bothify()</a>
                — Replaces hash signs ('#') and question marks ('?') with random numbers and letters An asterisk ('*') is replaced with either a random number or a random letter</li>
            <li id="lexify"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/lexify.xhtml">lexify()</a>
                — Replaces all question mark ('?') occurrences with a random letter</li>
            <li id="numberBetween"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/numberBetween.xhtml">numberBetween()</a>
                — Returns a random number between $int1 and $int2 (any order)</li>
            <li id="numerify"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/numerify.xhtml">numerify()</a>
                — Replaces all hash sign ('#') occurrences with a random number Replaces all percentage sign ('%') occurrences with a not null number</li>
            <li id="optional"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/optional.xhtml">optional()</a>
                — Chainable method for making any formatter optional.</li>
            <li id="passthrough"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/passthrough.xhtml">passthrough()</a>
                — Returns the passed value</li>
            <li id="randomAscii"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomAscii.xhtml">randomAscii()</a>
                — Returns a random ASCII character (excluding accents and special chars)</li>
            <li id="randomDigit"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigit.xhtml">randomDigit()</a>
                — Returns a random number between 0 and 9</li>
            <li id="randomDigitNot"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigitNot.xhtml">randomDigitNot()</a>
                — Generates a random digit, which cannot be $except</li>
            <li id="randomDigitNotNull"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomDigitNotNull.xhtml">randomDigitNotNull()</a>
                — Returns a random number between 1 and 9</li>
            <li id="randomElement"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomElement.xhtml">randomElement()</a>
                — Returns a random element from a passed array</li>
            <li id="randomElements"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomElements.xhtml">randomElements()</a>
                — Returns randomly ordered subsequence of $count elements from a provided array</li>
            <li id="randomFloat"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomFloat.xhtml">randomFloat()</a>
                — Return a random float number</li>
            <li id="randomKey"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomKey.xhtml">randomKey()</a>
                — Returns a random key from a passed associative array</li>
            <li id="randomLetter"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomLetter.xhtml">randomLetter()</a>
                — Returns a random letter from a to z</li>
            <li id="randomNumber"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/randomNumber.xhtml">randomNumber()</a>
                — Returns a random integer with 0 to $nbDigits digits.</li>
            <li id="regexify"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/regexify.xhtml">regexify()</a>
                — Transforms a basic regular expression into a random string satisfying the expression.</li>
            <li id="shuffle"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffle.xhtml">shuffle()</a>
                — Returns a shuffled version of the argument.</li>
            <li id="shuffleArray"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffleArray.xhtml">shuffleArray()</a>
                — Returns a shuffled version of the array.</li>
            <li id="shuffleString"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/shuffleString.xhtml">shuffleString()</a>
                — Returns a shuffled version of the string.</li>
            <li id="toLower"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/toLower.xhtml">toLower()</a>
                — Converts string to lowercase.</li>
            <li id="toUpper"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/toUpper.xhtml">toUpper()</a>
                — Converts string to uppercase.</li>
            <li id="unique"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/unique.xhtml">unique()</a>
                — Chainable method for making any formatter unique.</li>
            <li id="valid"><a title="Faker\Provider\Base" href="../classes/Faker_Provider_Base/valid.xhtml">valid()</a>
                — Chainable method for forcing any formatter to return only valid values.</li>
          </ul>
        </div>
      </section>
    </div>
    <footer>
      <span>Generated using phpDox 0.12.0 - Copyright (C) 2010 - 2019 by Arne Blankerts and Contributors</span>
    </footer>
  </body>
</html>
