<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>phpDox - Doctrine\Common\Inflector\Inflector::rules</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li>
          <div class="logo"><span>/**</span>phpDox</div>
        </li>
        <li class="separator">
          <a href="../../index.xhtml">Overview</a>
        </li>
        <li class="separator">
          <a href="../../namespaces.xhtml">Namespaces</a>
        </li>
        <li>
          <a href="../../interfaces.xhtml">Interfaces</a>
        </li>
        <li>
          <a href="../../classes.xhtml">Classes</a>
        </li>
        <li>
          <a href="../../traits.xhtml">Traits</a>
        </li>
        <li class="separator">
          <a href="../../source/index.xhtml">Source</a>
        </li>
      </ul>
    </nav>
    <div id="mainstage">
      <div class="box">
        <ul class="breadcrumb">
          <li>
            <a href="../../index.xhtml">Overview</a>
          </li>
          <li class="separator">
            <a href="../../classes.xhtml">Classes</a>
          </li>
          <li class="separator">
            <a href="../../classes.xhtml#Doctrine_Common_Inflector">Doctrine\Common\Inflector</a>
          </li>
          <li class="separator">
            <a title="Doctrine\Common\Inflector\Inflector" href="../../classes/Doctrine_Common_Inflector_Inflector.xhtml">Inflector</a>
          </li>
          <li class="separator">rules</li>
        </ul>
      </div>
      <nav class="box">
        <ul>
          <li>
            <a href="#introduction">Introduction</a>
          </li>
          <li>
            <a href="#synopsis">Synopsis</a>
          </li>
          <li>
            <a href="#parameter">Parameter</a>
          </li>
          <li>
            <a href="#return">Return</a>
          </li>
          <li>
            <a href="../../source/vendor/doctrine/inflector/lib/Doctrine/Common/Inflector/Inflector.php.xhtml#line358">Source</a>
          </li>
        </ul>
      </nav>
      <section>
        <h1><small>Doctrine\Common\Inflector\Inflector::</small>rules</h1>
        <h4>Adds custom inflection $rules, of either 'plural' or 'singular' $type.</h4>
        <p>### Usage:

{{{
Inflector::rules('plural', array('/^(inflect)or$/i' =&gt; '\1ables'));
Inflector::rules('plural', array(
    'rules' =&gt; array('/^(inflect)ors$/i' =&gt; '\1ables'),
    'uninflected' =&gt; array('dontinflectme'),
    'irregular' =&gt; array('red' =&gt; 'redlings')
));
}}}</p>
        <ul/>
        <h2 id="signature">Signature</h2>
        <div class="styled synopsis">
          <code>public function rules(string
        $type,
            <a title="Doctrine\Common\Inflector\iterable" href="../../classes/Doctrine_Common_Inflector_iterable.xhtml">iterable</a>
        $rules,
            [boolean
        $reset = false] )
            </code>
        </div>
        <h2 id="parameterlist">Parameters</h2>
        <dl class="styled">
          <dt><code>$type</code>
                —
                string</dt>
          <dd>The type of inflection, either 'plural' or 'singular'</dd>
          <dt><code>$rules</code>
                —
                <a title="Doctrine\Common\Inflector\array|iterable" href="../../classes/Doctrine_Common_Inflector_array|iterable.xhtml">Doctrine\Common\Inflector\array|iterable</a></dt>
          <dd>An array of rules to be added.<br/><br/><br/>      </dd>
          <dt><code>$reset</code>
                —
                boolean</dt>
          <dd>If true, will unset default inflections for all<br/>new rules that are being defined in $rules.</dd>
        </dl>
        <h2 id="return">Returns</h2>
        <dl class="styled">
          <dt>void</dt>
          <dd><br/>
        </dd>
        </dl>
      </section>
    </div>
    <footer>
      <span>Generated using phpDox 0.12.0 - Copyright (C) 2010 - 2019 by Arne Blankerts and Contributors</span>
    </footer>
  </body>
</html>
